
.form-header{
	padding: 20px;
    font-size: 32px;
	font-weight: 600;

}


.form-all__input {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	//border: solid 2px ;
	display: flex;
	flex-direction: column;
}

.form-item__input-text {
    font-size: 16px;
	font-weight: 500;
}


.label_form__input-text{
	font-size: 16px;
	font-weight: 600;
	//border: solid 2px red;
}

input[type="text"]
{
    margin: 10 px;
    font-size: 16px;
	font-weight: 350;
    height: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-indent: 10px;
    // border: 2px solid
}

.form-item__input-text--maxwidth input[type="text"]
{
    width:100%;
}

.ui-textarea{
    width:100%;
}

textarea {
    width:100%;
    font-size: 16px;
	font-weight: 350;
}


.ui-file
{

  padding: 20px;

}


.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}

.inputfile+label{
display: inline-block;
background-color: #b1bfc7;
color: white;
font-size: 1rem;
-webkit-border-radius: 4px;
        border-radius: 4px;
padding: 10px 12px;
cursor:pointer;


     &:hover {
        background-color: #1e6791;
    }
} 


.ui-file__header {
	font-size: 16px;
	font-weight: 800;
}


.ui-file__label {
	color: #1F2223;
}




.ui-file-image{
    padding: 10px;
	position: relative;
	width: 300px;
	height: 300px;
	overflow: auto;
    background: url("img/bg/car.jpg") no-repeat ;
    z-index: 5;
}

.ui-file-image__item{
	  position: absolute;
      z-index: -1;
}


.ui-file-image__button{
	  position: relative;
	  top: 220px; 
	  left: 170px;
      z-index: 1;
}













