div.section_ui-header-admin-menu
    div.menu-begin
        ul
            li
                a(href="#")
                    div.menu-icon
                        i(class="fas fa-plus-circle")
                    |Пост
            li      
                a(href="#")
                    div.menu-icon
                        i(class="fas fa-plus-circle")
                    |Работа
            li      
                a(href="#")
                   div.menu-icon
                       i(class="fas fa-edit")
                   |Обо мне
            li          
                a(href="#")
                    div.menu-icon
                        i(class="fas fa-edit")
                    |Контакты
            li      
                a(href="#")
                    div.menu-icon
                        i(class="fas fa-envelope")
                    |Сообщения
div.menu-end
    a(href="#")
        div.menu-icon
            i(class="fas fa-sign-out-alt")
        |Выход