extends layouts/ui-layout.pug

block variables
        - var title ="UI elements"

block content
    section.section__ui
        h1.heading__ui
            |Вспомогательные элементы
        div.container
            div.content
                div.section__ui-elements-block
                    +user_profile("Пользователь")
                div.section__ui-elements-block
                    +checkbox("Запомнить меня")
                div.section__ui-elements-block
                    +avatar_big("../img/avatar/photo-big.png")
                div.section__ui-elements-block
                    +avatar_small("../img/avatar/foto-small-2.png")
                div.section__ui-elements-block
                    +input_email_error("Введите email")
                div.section__ui-elements-block
                    +empty_comment_error("Комментарий не может быть пустым.")
                div.section__ui-elements-block
                    +email_busy(" Данный email уже занят ")
                div.section__ui-elements-block
                    +wrong_emailorPass("Неверный email или пароль")
