extends layouts/ui-layout.pug

block variables
    - var title = 'Подвал сайта'



block content
    section.section__ui
        h1.heading__ui
            | Подвал сайта
        footer.main-footer
            div.container
                div.row
                    div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4")
                        div.footer__copyright
                            p
                                |© TRUE CODER
                            p
                                |Создано с
                                i(class="fas fa-heart")
                                |в 
                                a(href="http://webcademy.ru/webdev/")
                                    |WebCademy.ru
                                |в 2018 году
                    div(class="col-sm-12 col-md-2 col-lg-4 col-xl-4")
                        nav.footer__nav
                            ul
                                li
                                    a(href="#")
                                        |Главная
                                li
                                    a(href="#")
                                        |Обо мне
                                li
                                    a(href="#")
                                        |Работы
                                li
                                    a(href="#")
                                        |Блог
                                li
                                    a(href="#")
                                        |Контакты
                    div(class="col-sm-12 col-md-4 col-lg-4 col-xl-4")
                        div.footer__social
                            a(href="#")
                                i(class="fab fa-vk")
                            a(href="#")
                                i(class="fab fa-twitter")
                            a(href="#")
                                i(class="fab fa-youtube")
                            a(href="#")
                                i(class="fab fa-instagram")
                            a(href="#")
                                i(class="fab fa-facebook-f")



            //- div(class="col--4")
            //-     div.social
            //-         a(href="#", class="fa fa-vk")
            //-         a(href="#", class="fa fa-twitter")
            //-         a(href="#", class="fa fa-youtube")
            //-         a(href="#", class="fa fa-instagram")
            //-         a(href="#", class="fa fa-facebook")
                    