*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	padding: 30px;
	background-color: #ECEFF1;
	font-family: 'PT Sans', Sans-Serif;
}

form {
	border: none;
	background-color: transparent;
}

fieldset {
	border: none;
	background-color: #CFD8DC;
	display: block;
	padding: 15px;
	margin-bottom: 30px;
	display: block;
} 

label {
	display: block;
	vertical-align: middle;
	margin-bottom: 15px;
}

label:last-child {
	margin-bottom: 0;
}

/* CHECKBOX */
.form__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #1e6791;
    border-radius:  2px;
    background-image: url("../img/check.png");
	background-repeat: no-repeat;
	background-position: center -10px;
	/*background-position: center;*/
	-webkit-transition: 0.1s ease-out;
	   -moz-transition: 0.1s ease-out;
	    -ms-transition: 0.1s ease-out;
	     -o-transition: 0.1s ease-out;
	        transition: 0.1s ease-out;
	vertical-align: top;
}

.form__input-checkbox:checked + .form__checkbox {
	background-position: center;
}

.form__input-checkbox {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form__input-checkbox:focus + .form__checkbox {
	box-shadow: 0px 0px 15px #4FC3F7;
}


/* RADIO BUTTONS */

.form__radio {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	border: 0.0625rem solid #cccccc;
	outline: none;
	border-radius: 50%;
	background: #ffffff;
	transition: 0.5s;
	vertical-align: top;
}

.form__input-radio:checked + .form__radio {
	background: #1e6791;
	border: 0.375rem solid #ffffff;
}

.form__input-radio {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form__input-radio:focus + .form__radio {
	box-shadow: 0px 0px 15px #4FC3F7;
}

/* FILE UPLOAD */

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    display: inline-block;
    background-color: #b1bfc7;
    color: white;
    font-size: 1rem;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 10px 12px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #1e6791;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile + label + span {
	color: #1E6791;
	vertical-align: top;
	padding: 10px 0 0 15px;
	display: inline-block;
	font-weight: 600;
}






