mixin card(img_src,card_title,link,button_title,mod)
		div(class='card card-' + mod)
			img(class='card__img card-' + mod + '__img' , src=img_src)
			h3.card__title #{card_title}
			+button(button_title,link)

mixin card-post(img_src,card_title,link)
	+card(img_src, card_title, link,'Читать','post')


mixin card-portfolio(img_src,card_title,link)
	+card(img_src,card_title,link,'Смотреть кейс','portfolio')

//- end mixins for cardfont