extends layouts/ui-layout.pug


block variables
    - var title = 'Комментарии'

block content
    section.section__ui
        h1.heading__ui
            |Комментарии
        div.container
            h2.heading__2
                |2 комментария
            div.row
                div(class="col col-mb")
                    +comment__user("img/avatar/avatar-user.png", "avatar-user", "Джон До", "05 мая 2017 года в 15:45", "Замечательный парк, обязательно отправлюсь туда этим летом.")
                    +comment__user("img/avatar/avatar-user2.png", "avatar-user", "Джон До", "05 мая 2017 года в 15:45", "Замечательный парк, обязательно отправлюсь туда этим летом.")
            h2.heading__2
                    |Комментарий - зарегистрироваться
            div.row
                div(class="col col-mb")
                    div.comment__unreg
                        div.comment__unreg-block
                            span
                                a(href="#" class="content__link")
                                    |Войдите
                                | или
                                a(href="#" class="content__link")
                                    |зарегистрируйтесь
                            span
                                |чтобы оставить комментарий
            h2.heading__2
                    |Сообщение от пользователя
            div.row
                div.col
                    +message__user(
                        "22 августа 2017",

                        "Джон До",

                        "johndoe@gmail.com",

                        "Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронт энд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.", 

                        "Avrora-platform.pdf" )








