extends layouts/ui-layout.pug


block variables
  - var title = 'Карточка пост и портфолио'
  - var pageClass = 'index-page'

block content
  section.section__ui
    h1.heading__ui
     container
      row
       col-md-12
        h1
          | Компоненты
      row   
       col-md-12
         h3
          | Карточка - Пост в блоге
      col-md-6.col-xl-4
       +card-post('img/card__post.jpg', 'Поездка в New York пример  длинного названия поста ...','#')
       
   
    div.box__portfolio
     div(class="col-md-4")
     block__title
       | Карточка - Пост в блоге
       div.portfolio__items
          block.card__type 
          img(src='./img/bg/freebie_by_sultan_mahamud.jpg',
        alt='New York'
        ).img__poster
       h2.image__caption
        | Верстка Landing Page
       span.button__outline
        | Смотреть кейс       

   	

     //- card__type Карточка - Пост в блоге
     //- card__img
     //- card__text Поездка в New York пример  длинного названия поста ...
     