extends layouts/ui-layout.pug


block variables
	- var title = 'UI Card - Карточка пост и портфолио'
	- var pageClass = 'index-page'


	block content
		.card__type Карточка - Пост в блоге
		.card__img
		.card__text Поездка в New York пример  длинного названия поста ...
		.button