// Карта

@vk-color: #45668e;
@facebook-color: #3b5998;
@airbnb-color: #fd5c63;
@sberbank-color: #1a9f29;
@mts-color: #cc061a;

@brand-color: @vk-color;
@button-color: @brand-color;

@icons-color: @brand-color;

@card-color: @brand-color;

@border-radius: 12px;;
span {
	font-size: 30px;
	color: @blue__color;
}
.card {
	/*width: 100%;*/
	background-color: #8C13C5;
	margin-bottom: 20px;
	
	text-align: center;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background-color: #ffffff;
	box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.3);
	padding-top: 0;
	padding-bottom: 0;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.button {
 	background-color: #252525;
	box-shadow: 0px 8px 16px 0px rgba(171, 171, 171, 0.5);
	letter-spacing: 1px;
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 12px;
	padding-left: 44px;
	padding-right: 44px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	font-weight: 700;
	cursor: pointer;
}
.button__solid {
	.button
}
.button__outline {
	.button
}
.section__ui {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.box__blog {
.card
}
.box__portfolio {
.card
}
.image__caption {
flex-wrap: wrap;
}
 h2.title {
 	position: absolute;
 	margin-left: ;
 	margin: -285px;
 	font-size: 14px;
	line-height: 24px;
	margin-top: -248px;
	margin-bottom: 50px;
 }
 .block__title {
  position: absolute;
 	margin-left: ;
 	margin: -400px;
 	font-size: 14px;
	line-height: 24px;
	margin-top: -276px;
	margin-bottom: 50px;
 }
