div.section_ui-header__logo-mobile
    div.section_ui-header__logo-name-mobile
        i(class="far fa-paper-plane")
        |Digital Lifestyle
    div.section_ui-header__logo-desc-mobile
        |Сайт IT специалиста