.empty_comment_error {
	width: 834px;
	height: 44px;
	font-size: 16px;
	line-height: 2.65rem;
	background-color: @red_color;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	color: #Fff;
	font-weight: 400;
	margin: 30px;
	padding-left: 15px;
	padding-top: 14
}